*{
    margin: 0;
}
/*empieza encabezado de pagina*/
/*navegacion*/
#navegacion{
    background-color: #D8C3D0;
    height: 60px;
    width: 100%;
    text-align: center;
}
#navegacion .imagen{
    border-radius: 45px 45px 45px 0px;
    float: right;
    padding-right: -20px;
    list-style: none;
    width: 20px;
    height: 20px;
    margin-top: 22px;
}
#navegacion .imagen1{
    margin-top: 4px;
    margin-left: 557px;
    float: left;
    list-style: none;
    height: 47px;
    width: 187px;
}
#navegacion .compras{
    border-radius: 20px;
    margin-top: 12px;
    float: right;
    list-style: none;
    margin-right: 150px;
    width: 111px;
    height: 40px;
}
/*numero de whatsapp*/
#numero{
    padding-right: 50px;
    padding-top: 0px;
    font-size: 14px;
    text-decoration: none;
}
#numero ul{
    padding-inline-start: 0px;
}
#numero ul li{
    padding-top: 19px;
    float: right;
    list-style: none;
    margin-right: 102px;
    width: 100px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
/*cabecera*/
#cabecera{
    position: absolute;
    list-style: none;
    font-size: 14px;
    float: left;

    margin-right: 20px;
    margin-top: 22px;
}
#cabecera ul{
    padding-inline-start: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
#cabecera ul li{
    margin: 1px 27px 1px 1px;
    display: inline-block;
    text-decoration-line: underline;
}
.button {
    color: #704F4F;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
}
/*categoria*/
nav#lista{
    background-color: #C9A4BB;
    text-align: center;
    list-style: none;
    width: 100%;
    height: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 17px;
}
#lista ul{
    padding-inline-start: 0;
}
#lista ul a.conle{
    border-right: 2.5px solid #FFFFFF;
    margin-right: 20px;
    padding-right: 20px;
    text-decoration-line: none;
    color: white;
}
#lista ul a.conlen{
    color: white;
    text-decoration-line: none;
}
#lista ul a.condolen{
    margin-right: 20px;
    padding-right: 20px;
    text-decoration-line: none;
    color: white;
}
#lista ul li{
    margin-top: 10px;
    display: inline-block;
    color: white;
}
/*termina encabezado de pagina*/
/*empieza secciones editables*/
#peluches{
    background-color: #D8C3D0;
    width: 100%;
    height: 1765px;
}
/*empieza condolencias frame*/
#peluche img{
    width: 337px;
    height: 315px;
    margin: 50px 0px 0px 200px;
}
#texto{
    margin: 106px 150px 0px 0px;
    float: right;
    width: 500px;        
    border: 1px solid #6A6A6A;
    padding: 33px;
}
#texto h3{
    color: #6A6A6A;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 400;
    text-align: center;
    font-size: 25px;
}
#texto p{
    color: #4E4E4E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 200;
    font-size: 17px;
    margin-top: 10px;
}
/*condolencias1 compra - 1*/
#peluche1{
    margin: 50px 0px 50px 200px;
    float: left;
}
#peluche1 img{
    width: 205px;
}
#peluche1 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche1 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche1 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias2 compra - 1*/
#peluche2{
    margin: 50px 0px 50px 50px;
    float: left;
}
#peluche2 img{
    width: 205px;
}
#peluche2 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche2 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche2 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias3 compra -1*/
#peluche3{
    margin: 50px 0px 50px 50px;
    float: left;
}
#peluche3 img{
    width: 205px;
}
#peluche3 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche3 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche3 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias4 compra - 1*/
#peluche4{
    margin: 50px 0px 50px 50px;
    float: left;
}
#peluche4 img{
    width: 205px;
}
#peluche4 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche4 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche4 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias5 compra - 2*/
#peluche5{
    margin: 10px 0px 50px 200px;
    float: left;
}
#peluche5 img{
    width: 205px;
}
#peluche5 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche5 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche5 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias6 compra - 2*/
#peluche6{
    margin: 10px 0px 50px 50px;
    float: left;
}
#peluche6 img{
    width: 205px;
}
#peluche6 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche6 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche6 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias7 compra - 2*/
#peluche7{
    margin: 10px 0px 50px 50px;
    float: left;
}
#peluche7 img{
    width: 205px;
}
#peluche7 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche7 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche7 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias8 compra - 2*/
#peluche8{
    margin: 10px 0px 50px 50px;
    float: left;
}
#peluche8 img{
    width: 205px;
}
#peluche8 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche8 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche8 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias9 compra - 3*/
#peluche9{
    margin: 10px 0px 50px 200px;
    float: left;
}
#peluche9 img{
    width: 205px;
}
#peluche9 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche9 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche9 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias10 compra - 3*/
#peluche10{
    margin: 10px 0px 50px 50px;
    float: left;
}
#peluche10 img{
    width: 205px;
}
#peluche10 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche10 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche10 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias11 compra - 3*/
#peluche11{
    margin: 10px 0px 50px 50px;
    float: left;
}
#peluche11 img{
    width: 205px;
}
#peluche11 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche11 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche11 button:hover{
    color: white;
    background-color: #A9638F;
}
/*condolencias12 compra - 3*/
#peluche12{
    margin: 10px 0px 50px 50px;
    float: left;
}
#peluche12 img{
    width: 205px;
}
#peluche12 p{
    font-family: 'roboto condensed';
    margin-bottom: 6px;
}
#peluche12 button{
    color: #A9638F;
    font-family: 'roboto condensed';
    background-color: #d8c3d0;
    border: 2px solid #A9638F;
    border-radius: 20px;
    width: 93px;
    height: 34px;
    margin-left: 50px;
}
#peluche12 button:hover{
    color: white;
    background-color: #A9638F;
}
/*termina condolencias*/
/*comienza pie de pagina*/
#pie{
    background-color: #BFADB8;
    height: 255px;
    width: 100%;
}
/*metodos de pago*/
#pago h3{
    width: 175px;
    padding: 78px 0px 0px 9px;
    margin-left: 120px;
    font: -webkit-control;
    font-size: 17px;
    border-bottom: 5px solid #757575;
}
#pago .visa{
    width: 67px;
    margin-left: 123px;
    margin-top: 16px;
}
#pago .yape{
    width: 30px;
    margin-left: 10px;
}
#pago .mastercard{
    width: 47px;
    margin-left: 10px;
}
/*categoria*/
#contacto a{
    font: small-caption;
    font-size: 18px;
    margin-bottom: -1px;
    text-decoration-line: none;
    color: #000000;
}
#cliente a{
    font: small-caption;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration-line: none;
    color: #000000;
}
#categoria a{
    font: small-caption;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration-line: none;
    color: #000000;
}
#contacto{
    float: right;
    width: auto;
    margin-top: 38px;
    margin-right: 94px;
}
#contacto p{
    font: small-caption;
    font-size: 18px;
    color: #000000;
}
#contacto h3#contactanos{
    border-bottom: 4px solid #757575;
    text-align: center;
    padding-bottom: 5px;
    padding-right: 2px;
    margin-bottom: 8px;
    width: 154px;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 20px;
}
#cliente{
    float: right;
    width: auto;
    margin-top: 38px;
    margin-right: 71px;
}
#cliente h3#servicio{
    border-bottom: 4px solid #757575;
    width: 213px;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 20px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
#categoria{
    float: right;
    width: auto;
    margin-top: 38px;
    margin-right: 71px;
}
#categoria h3#catego{
    border-bottom: 4px solid #757575;
    width: 129px;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 20px;
    padding-left: 3px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
/*todos los derechos reservados*/
#derechos h2{
    width: 247px;
    font: -webkit-control;
    font-family: 'Roboto Condensed';
    font-size: 12px;
    margin: 82px 0px 0px 49px;
}
#derechos h2 img{
    width: 11px;
}
/*redes sociales*/
#redes{
    float: right;
    width: 200px;
    margin: -37px 274px 0px 0px;
}
#redes img{
    border-radius: 52px;
    width: 50px;
    margin-right: 13px;
}
/*termina pie de pagina*/